.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    color: white;
    background-color: #111722;
}

.headerLeft, .headerCenter, .headerRight {
    flex: 1;
    position: relative;
}

.logo {
    position: absolute;
    height: 48px;
    top: 8px;
    left: 18px;
}

.logo:hover {
    cursor: pointer;
}

::placeholder{
    color: white;
    opacity: 1; 
}

.headerCenter {
    display: flex;
    flex-direction: row;
}
.search {
    background-color: #1d1f2b;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    width: 98%;
    left: 0;
    right: 0;
    top: 14px;
    border: 2px solid transparent;
    border-radius: 8px;
}

.search:hover {
    border: #03b2cb 2px solid;
}
.search:focus{
    outline: none;
    border: #F50057 2px solid;
}

.linkContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 4px;
    width: 90%;
}

.droplist {
    opacity: 0;
    width: 0;
}
.linkContainer > * {
    margin: auto;
    padding: auto;
    cursor: pointer;
}


.explore > p, .collections {
    color: #007994;
}
.explore > p:hover {
    color: #007994;
}

.connectButton {
    height: 36px;
    background-color: #007994;
    color: white;
    border: 1px solid transparent;
    border-radius: 8px;
}



@media only screen and (max-width: 805px) {
    .logo {
        top: 16px;
        left: 5px;
        height: 30px;
    }

    .explore, .collections, .LanguageIcon {
        display: none !important;
    }
    .droplist{
        opacity: 1;
    }
}