.loop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;

}

.cardBox {
  position: relative;
  padding: auto;
  margin: auto;
}
.loopNft {
  height: 500px;
  width: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  
}

.currentNftPng {
  position: absolute;
    height: 350px !important;
    width: 350px !important;
    bottom: 10px !important;
    right: 0 !important;
}

.infoDiv {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid transparent;
  bottom: 0;
  text-align: left;
  left: 0;
  right: 0;
  position: absolute;
    border: 8px;
    word-wrap: normal;
    width: 350px;
    height: 84px;
    margin: auto;
    color: white;
    background-color: #1f2535;
}
.loopN {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
}




.discText {
    text-align: center;
    color: white;
    margin: auto;
    font-size: 36px;
  }







@media only screen and (max-width: 805px) {
  .currentNftPng {
    height: 350px !important;
    width: 350px !important;  
  }
  .infoDiv {
    width: 350px !important;  

  }
}
