.nftViewDisplay {
    width: 100%;
    background-image: linear-gradient(
        to left,
        #111722,
        #0B0E16,
        #1D1F2B
      );
      height: 100vh;
      
}

.currentNftCard {
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-image: linear-gradient(
        to bottom,
        #111722,
        #0B0E16
      );    
    height: 68%;
    width: 80%;
    margin: auto;
    color: white;
}

.currentNftPng {
    position: absolute;
    height: 356px;
    width: 356px;
    top: 0;
    bottom: 0;
    right: 0px;
    margin: auto;
    background-color: royalblue;
    border-radius: 8px;
}
.collectionName {
    position: absolute;
    top: 10px;
    left: 12px;
    font-size: 22px;
}

.tokenName {
    position: absolute;
    top: 28px;
    left: 9px;
    font-size: 46px;
}

.priceCurrency {
    position: absolute;
    top:104px;
    left: 12px;
    font-size: 46px;
}

.highestBid {
    position: absolute;
    top:104px;
    left: 102px;
    font-size: 46px;
}
.att {
    position: absolute;
    font-size: 22px;
    bottom: 348px;
    left: 12px;
}
.attList {
    position: absolute;
    font-size: 22px;
    bottom: 92px;
    left: 12px;
    width: 300px;
}
.attrb {
    position: relative;
    font-size: 12px;

}

.nftDescription {
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    left: 10px;
}

@media only screen and (max-width: 805px) {
    .currentNftCard {
        margin-top: 96px;
        height: 90%;
        width: 100%;

    }
    .currentNftPng {
        height: 256px;
        width: 256px;
        top: 116px;
        right: 0;
        left: 0;
        bottom: unset;
        border-radius: 8px;
    }

    .tokenName {

        font-size: 32px;
    }

    .priceCurrency {
        top:  0;
        left: auto;
        right: 20px;
        margin: auto;
        font-size: 24px;
    }
    
    .highestBid {
        top:  0;
        left: auto;
        right: 68px;
        margin: auto;
        font-size: 24px;
    }

    .att {
        font-size: 22px;
        bottom: 180px;
        left: 12px;
    }
    .attList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        bottom: 122px;
        left: 12px;
        width: 100%;
    }
    .attrb {
        position: relative;
        font-size: 12px;
    
    }
}


